.searchForm {
  position: relative;
  text-align: center;
  border-radius: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.searchForm input {
  border: none;
  padding-left: 30px;
  padding-right: 50px;
  width: 30vw;
  border-radius: 20px;
  height: 40px;
  font-size: 20px;
  margin: 0 auto;
}
.searchForm input:focus {
  outline: none;
}
.searchForm svg {
  position: absolute;
  top: 8px;
  right: 12px;
}
.searchForm svg:hover {
  cursor: pointer;
}
@media screen and (width < 1080px) {
  .searchForm input {
    width: 50vw;
  } 
}