@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../assets/fonts/BeVietnamPro-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
html, body {
  font-family: 'Be Vietnam Pro';
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.bodyDiv {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0px;
}
.img {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 100%;
  justify-self: center;
  align-self: center;
}
.ingredients {
  grid-row: 2/3;
  grid-column: 2/3;
}
.title {
  text-decoration: underline;
  grid-row: 1/2;
  grid-column: 1/2;
}
.container {
  width: 60%;
  margin: 0 auto;
  display: grid;
  position: relative;
  grid-template: auto auto auto / auto auto;
  margin-top: 30px;
  margin-bottom: 30px;
  column-gap: 20px;
}
.instructions {
  align-self: center;
  justify-self: center;
  grid-row: 3/4;
  grid-column: 1/3;
}
.links {
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  display: block;
}
.link {
  text-decoration: underline;
}
@media screen and (width < 1080px) {
  .container {
    width: 80%;
  }
}
@media screen and (width < 800px) {
  .container {
    display: block;
  }
  .container > * {
    margin-bottom: 30px;
  }
  .links {
    position: relative;
  }
  .links svg {
    position: absolute !important;  
    right: 0px;
    top: -16px;
  }
  
}