.recipe {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 300px;
    height: 450px;
    row-gap: 0px;
    box-shadow: 4px 4px 4px #0808086b;
    overflow: hidden;
}
.recipe img {
    grid-row: 1;
    object-fit: cover;
    height: 380px;
    width: 100%;
    border-bottom: 1px solid black;
    transition: height 0.5s;
}
.recipeText {
    grid-row: 2;
    background-color: white;
    padding: 10px;
} 
.recipeTime, .recipePrice, .recipeServings {
  opacity: 0;
}

.recipe h4 {
  display: inline;
}
.recipe:hover .recipeTime,.recipe:hover .recipePrice,.recipe:hover .recipeServings {
  opacity: 1;
}
.recipe:hover img{
  height: 250px;
  transition: height 0.5s;
}
@media screen and (width < 1024px) {
  .recipeTime, .recipePrice, .recipeServings {
    opacity: 1;
  }
  .recipe img {
    height: 250px;
  }
}
/* @keyframes show {
  from {
    display: none;
  }
  to {
    display: inherit;
  }
}
.recipe:hover .recipePrice {
  animation: show 0.5s;
}
.recipe:hover .recipeServings {
  animation: show 0.5s;
}
.recipe:hover .recipeTime {
  animation: show 0.5s;
} */




/* 
.recipe {
    display: grid;
    grid-template-rows: min-content auto;
    width: 300px;
    height: 450px;
    row-gap: 0px;
    box-shadow: 4px 4px 4px #0808086b;
}
.recipe img {
    grid-row: 1;
    object-fit: contain;
    width: 100%;
}
.recipeText {
    grid-row: 2;
    background-color: white;
    padding: 10px;
}  */



/*
.recipe {
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 12px;
  padding: 12px;
  display: grid;
  grid-template-rows: auto 28px 28px auto;
  grid-template-columns: auto auto;
  column-gap: 10px;
}
.recipe h4 {
  margin: 8px;
  margin-top: 0px;
  grid-column: span 2;
}
.recipe img {
  border-radius: 12px;
  grid-row: 2 / 5;
  grid-column: 1;
  height: 200px;
  border: 1px solid #bbbbbb;
}
.recipeTime {
  grid-row: 2;
  grid-column: 2; 
}
.recipeServings {
  grid-row: 3;
  grid-column: 2;
}
.recipePrice {
  grid-row: 4;
  grid-column: 2;
}
*/
