@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('assets/fonts/BeVietnamPro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('assets/fonts/BeVietnamPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('assets/fonts/BeVietnamPro-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
html, body, .App {
  max-width: 100vw;
  margin: 0px;
  /* background-color: #2d2c38; */
  box-sizing: border-box;
}
/* h1 {
  color: white
}
.error {
  color: white;
} */
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Be Vietnam Pro';
}
.errorPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Be Vietnam Pro';
  color: white;
}
.errorPage a {
  color: white;
  text-decoration: underline;
}
.recipesDiv {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.recipeTable {
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  border-collapse: collapse;
}
.recipeTable th {
  border: 1px solid #bbbbbb;
  padding: 4px;
}
.recipeTable tr td:first-of-type, .recipeTable tr td:last-of-type, .recipeTable tr th:first-of-type, .recipeTable tr th:last-of-type {
  border-left: none;
  border-right: none;
}
.recipeTable tr:first-of-type th, .recipeTable tr:last-of-type td{
  border-top: none;
  border-bottom: none;
}
.recipeTable td {
  border: 1px solid #bbbbbb;
  padding: 4px;
}
a {
  color: black;
  text-decoration: none;
}